



* {
    font-family: poppins, Areal;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-size: 13px;
    /* text-decoration: none;
    list-style: none;
    box-sizing:border-box; */
}

p {
    margin: 0;
}



.signin-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.8), rgba(233, 238, 240, 0.8));
}

.signin-background .all {
    background: linear-gradient(360deg, rgba(0, 44, 62, 0.8), rgba(3, 18, 24, 0.8));
    padding: 50px 20px;
    border-radius: 5px;
    width: 450px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
}



.signin-background .all .signIn,
.signin-background .all .signInDesc,
.signin-background .all .inputEmail,
.signin-background .all .inputPass,
.signin-background .all .SignInBtn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-background .all .signIn p {
    font-weight: 300;
    font-size: 40px;
    color: #f7f8f3;
}

.signin-background .all .remember {
    color: white;
    text-align: right;
    width: 90%;
    margin-top: 5px;
}

.signin-background .all .remember a {
    text-align: right;
}

.signin-background .all .SignupSection {
    display: flex;
    justify-content: space-between;
    color: #f7f8f3;
}




.signin-background .all .signInDesc p {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 300;
    color: #f7f8f3;
}



.signin-background .all .inputEmail input,
.signin-background .all .inputPass input {
    width: 80%;
    padding: 4px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #78bcc4;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-weight: 400;
}

.signin-background .all .inputEmail input:active,
.signin-background .all .inputPass input:active {
    border-color: #78bcc4;
}



.signin-background .all .SignInBtn button {
    margin-top: 10px;
    width: 80%;
    padding: 4px 10px;
    border-radius: 5px;
    border: 2px solid #78bcc4;
    background: #78bcc4;
    color: rgb(0, 44, 62);
}

.signin-background .all .SignupSection {
    width: 90%;
    margin-top: 20px;
}

.signin-background .all .SignupSection p {
    margin-left: 35px;
}

.signin-background .all .SignupSection a,
.remember a {
    color: #78bcc4;
    text-decoration: none;
}

.signin-background .all .SignupSection a:hover,
.signin-background .all .remember a:hover {
    text-decoration: underline;
}

.signin-background .all .inputEmail,
.signin-background .all .inputPass {
    position: relative;
}

.signin-background .all .inputEmail input,
.signin-background .all .inputPass input {
    background: transparent;
}
.signin-background .all .SignInBtn button:hover {
    background: transparent;
    color: #f7f8f3;
}

@media (max-width: 768px) {
    .signin-background .all {
        width: 350px;
    }

    .signin-background .all .inputEmail input,
    .signin-background .all .inputPass input {
        width: 90%;
    }

    .signin-background .all .SignupSection {
        width: 95%;
    }

    .signin-background .all .remember {
        width: 95%;
    }
    .signin-background .all .SignInBtn button {
        width: 90%;
    }
    .signin-background .all .SignupSection p {
        margin-left: 17px;
    }

}
@media (max-width: 653px) {
    .signin-background .all {
        width: 270px;
    }

    .signin-background .all .inputEmail input,
    .signin-background .all .inputPass input {
        width: 100%;
    }

    .signin-background .all .SignupSection {
        width: 100%;
    }

    .signin-background .all .remember {
        width: 100%;
    }
    .signin-background .all .SignInBtn button {
        width: 100%;
    }
    .signin-background .all .SignupSection p {
        margin-left: 0px;
    }

}
/* .inputEmail label,
.inputPass label{
    position: absolute;
    left: 50px;
    color: rgba(255,255,255,0.5);
    pointer-events: none;
    transition: 0.5s;
} */

/* .inputEmail input:valid ~ label,
.inputPass input:valid ~ label,
.inputEmail input:focus ~ label,
.inputPass input:focus ~ label{
    color: rgb(255, 255, 255);
    transform:translateX(4px) translateY(-18px);
    font-size: 11px;
    font-weight: 400;
    background: #78bcc4;
    padding: 0 10px;
    border-radius: 4px;
} */





/* 

:root{
    --blue: rgb(8, 23, 230);
    --green: rgb(10, 170, 31);
    --white: rgb(255, 255, 255);
}


h4{
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    margin-top: 20px;
    background-color: rgb(233, 232, 231);
    padding-left: 0;
    border-radius: 10px;
    padding-right: 20px;
    width: 50vh;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.2);
}
.Email{
    padding-top: 20px;
}

.Email,
.Password,
.LogIn,
.Forget,
.Create{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.Create-text{
    color: var(--green);
    margin-bottom: 0px;
}

.LogIn button{
    padding: 10px 100px 10px 100px;
    color: var(--blue);
    border-color: var(--blue);
    border-radius: 10px; 
    
}

.LogIn button:hover{
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue);    
}

.LogIn button:active{
    color: var(--white);
    background-color: rgba(8, 23, 230,0.5);
    border-color: rgba(8, 23, 230,0.5);    
}

.Create button{
    padding: 10px 20px 10px 20px;
    color: var(--green);
    border-color: var(--green);
    border-radius: 10px;       
}

.Create button:hover{
    color: var(--white);
    background-color: var(--green);
    border-color: var(--green);    
}

.Create button:active{
    color: var(--white);
    background-color: rgba(10, 170, 31,0.5);
    border-color: rgba(10, 170, 31,0.5);    
}

.email-input,
.password-input{
    border-radius: 10px;
    padding: 8px;
    border-style: solid; 
}
button{
    border: 2;
    border-style: solid;
}
i{
    font-size: large;
}


 */
