.package-desc{
    padding: 100px 50px;
}

.package-desc-img{
    height: 500px;
    width: 100%; 
  object-fit: cover;
}

.package-include-exclude{
    display: flex;
    justify-content: space-between;

}
.package-include-list,
.package-exclude-list
{
    padding: 0px 20px;
}
.package-desc-day-list{
    text-decoration: none;
    padding-left: 10px;
}