.package-desc{
    padding: 100px 50px;
}

.package-desc-img{
    height: 500px;
    width: 100%; 
  object-fit: cover;
}

.package-include-exclude{
    display: flex;
    justify-content: space-between;

}
.package-include-list,
.package-exclude-list
{
    padding: 0px 20px;
}
.package-desc-day-list{
    text-decoration: none;
    padding-left: 10px;
}

/* congrats */
.packageBooked_congrats_div{
    position: absolute;
    top: 300px;
    left:50%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 20px 30px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.6);
    border-radius: 10px;
    display: none;
    opacity: 0;
}
.packageBooked_congrats_div p{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: green;
}
.packageBooked_congrats_div.animate{
    display: block;
    animation: congrats_appear 500ms ease-in;
}
@keyframes congrats_appear {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
}
h1,h2,h3{
    color: black;
    font-size: 20px!important;
    margin: 10px 0;
}
.package-title h1{
    font-size: 22px !important;
    font-weight: 900;
}
.book-now-btn{
    color: white;
    background-color: blue;
    padding: 6px 12px;
}