*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myprofile_main_div{
    width: 100%;
}
.myprofile_main_div .myprofile_mydetails_div{
    width: 100%;
    padding: 20px 100px;
}
.myprofile_main_div .myprofile_mydetails_div .myprofile_mydetails_row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.myprofile_main_div .myprofile_mydetails_div .myprofile_mydetails_row .myprofile_mydetails_input{
    width: 45%;
    background-color: #ededed;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 18px;
}
.myprofile_main_div .myprofile_mydetails_div .myprofile_mydetails_row .myprofile_mydetails_change{
    background-color: blue;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 18px;
}